body {
  font-family: Arial, sans-serif;
  background-color: #01a7c2ff;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-container {
  background-color: #fff;
  padding: 60px; /* Mayor espacio alrededor del formulario */
  border-radius: 5px;
  box-shadow: 0px 187px 75px rgba(0, 0, 0, 0.01), 0px 105px 63px rgba(0, 0, 0, 0.05), 0px 47px 47px rgba(0, 0, 0, 0.09), 0px 12px 26px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-bottom: 20px; /* Espacio entre el formulario y la imagen */
}

.login-container h2 {
  margin-bottom: 20px;
  color: rgba(1, 167, 194, 1);
}

.a2{
  color: rgba(163, 186, 195, 1);
}

.login-container .input-container {
  position: relative;
  margin-bottom: 15px;
}

.login-container .input-container input {
  width: auto;
  padding: 10px;
  border: none;
  border-bottom: 1px solid rgba(0, 105, 137, 1);
  padding-left: 1px; /* Espacio para el icono */
  outline: none;
  background: transparent;
}

.login-container .input-container i {
  position: absolute;
  top: 12px;
  left: 10px;
  color: #999;
}

.login-container button {
  width: 100%;
  padding: 10px;
  background-color: rgba(1, 167, 194, 1);
  color: #fff;
  border: none;
  border-radius: 20px; /* Botón redondeado */
  cursor: pointer;
}

.login-container button:hover {
  background-color: rgba(0, 112, 144, 1);
}

.register-link {
  margin-top: 15px;
}

.register-link a {
  text-decoration: none;
  color: #007bff;
}

.login-container .logo {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 100px; /* Ancho deseado para el logo */
    height: auto; /* Altura automática para mantener la proporción */
}