/* styles.css */

.container {
    margin-top: 20px;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    padding: 8px 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f5f5f5;
}

.btn {
    padding: 4px 10px;
    font-size: 14px;
    margin-right: 5px;
}

/* Estilos para el cuadro de búsqueda */
.search-box {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    background-color: #fff;
}

.search-box input[type="text"] {
    flex: 1;
    border: none;
    padding: 8px;
    font-size: 14px;
}

.search-box button {
    background-color: #ffffff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 8px 15px;
    font-size: 14px;
    cursor: pointer;
}

/*Imgenes*/
.image-container {
    text-align: center;
}

.image-container img {
    max-width: 100%;
    height: auto;
}

/*Boton agregar*/

.container {
    margin-top: 20px;
}

/* Estilo para el encabezado */
.container h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

/* Estilo para el botón de agregar */
.container .btn-excel {
    font-size: 24px; /* Tamaño de fuente */
    width: 60px; /* Ancho del botón */
    height: 60px; /* Altura del botón */
    line-height: 1; /* Alinear contenido verticalmente */
    /*background-color: #1d6f42;*/
    color: #313131;
    border-radius: 5px; /* Valor que define el grado de redondez */
    padding: 10px 10px; /* Ajusta el espaciado interior */
    font-size: 10px; /* Tamaño de fuente */
    margin-bottom: 20px;
    margin-top: 20px;
    border: none;
}

/* Estilo para el botón de limpiar */
/*.container .btn-danger {
    font-size: 24px; /* Tamaño de fuente 
    width: 40px; /* Ancho del botón 
    height: 40px; /* Altura del botón 
    line-height: 1; /* Alinear contenido verticalmente 
    background-color: rgb(173, 39, 2);
    color: #fff;
    border-radius: 10px; /* Valor que define el grado de redondez 
    padding: 10px 10px; /* Ajusta el espaciado interior 
    font-size: 14px; /* Tamaño de fuente 
    margin-bottom: 20px;
   margin-top: 20px;
}*/

/* Agrega un margen inferior al contenedor */
.container .mb-4 {
    margin-bottom: 30px;
}
